{% extends "base.html" %}

{% block body %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chat</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='smolpack.png') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </head>
  <body>

    <div class="sidenav">
      <img src="images/org-logo.jpg" alt="the logo" class="center">
      <input type="image"  id="saveform" src="images/bulletin-board.png " alt="bulletin board" class="center" href="/bulletin-board/"/>
      <input type="image"  id="saveform" src="images/backpack.png " alt="backpack" class="center"/>
      <a <button class="button button3">button </button>
        </a>
      <a <button class="button button4"  href="/logout/">Logout</button>
        </a>
    </div>

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Let's Chat!</h1>
        <p class="lead">Welcome to the chatroom, students can chat with each other and ask questions to your teacher.</p>
      </div>
    </div>
    
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.19.0/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.19.0/firebase-analytics.js"></script>

    <script>
      // Your web app's Firebase configuration
      var firebaseConfig = {
        apiKey: "AIzaSyDQKZHulmsHiO4FRWx2WTIN5bgzsaCrkZI",
        authDomain: "toasty-eb93a.firebaseapp.com",
        databaseURL: "https://toasty-eb93a.firebaseio.com",
        projectId: "toasty-eb93a",
        storageBucket: "toasty-eb93a.appspot.com",
        messagingSenderId: "525130460746",
        appId: "1:525130460746:web:875de2655c43454478c0b3",
        measurementId: "G-T3RNXELMS3"
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
      firebase.analytics();
    </script>
     
  </body>
</html>
{% endblock %}
